// Add custom styled scrollbars when possible
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, transparent, 50%)) {
    ::-webkit-scrollbar {
      width: $size;
      height: $size;
    }
  
    ::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    ::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    body {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }
  