//@import url('https://fonts.googleapis.com/css?family=Spectral:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


// Color
@import "../../../node_modules/materialize-css/sass/components/color-variables";
@import "../../../node_modules/materialize-css/sass/components/color-classes";

$transition: cubic-bezier(.17,.67,.83,.67);

$blanco: #FFFFFF;

$primary-color: color("pink", "base") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("blue", "base") !default;

$success-color: color("pink", "lighten-3") !default;
$error-color: color("blue", "lighten-3") !default;
$link-color: color("light-blue", "darken-1") !default;

$font-roboto: 'Roboto', sans-serif;

@import "../../../node_modules/materialize-css/sass/materialize.scss";