@import "helpers";
@import "global";
@import "components";

.invoice-box {
    display: none;
    margin: auto;
    padding: 30px;
    // border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 14px;
    line-height: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    // font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    // color: #555;


    .table-bordered {
        tr {
            border-bottom: 0
        }

        td:not(:last-child):not(.borde) {
            border-right: 0;
            // background-color: bisque;
        }

        td,
        th {
            border: 1px solid #494949;
            // border: 1px solid #dee2e6;
        }
    }

    tr {
        &.black-space {

            td,
            th {
                height: 1rem;
            }
        }

        &.grey-color {

            td,
            th {
                background-color: $grey-color;
            }
        }

    }



    .table-sm {

        td,
        th {
            padding: .1rem !important;
            border-radius: 0 !important;
        }
    }

    .text-center {
        text-align: center;
    }
}