@import "variables";
@import "global";
@import "align";
@import "components";

$transition: cubic-bezier(0.65, 0.05, 0.36, 1);


.carousels {
    white-space: nowrap;
    transition: transform cubic-bezier(.17,.67,.83,.67) 0.5s;
  
    > div {
      width: 33.3333%;
      white-space: normal;
    }
  }
  
  .overflow-x-hidden {
    overflow-x: hidden;
    border: solid #e91e63
  }