.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    // width: 200px;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;

    &:focus {
        border-color: $primary-color;
    }
}

.thumbscontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;

    .thumb {
        display: inline-flex;
        border-radius: 2px;
        border: 1px solid #eaeaea;
        // width: 200;
        height: 80px;
        padding: 4px;
        box-sizing: border-box;

        img {
            display: block;
            width: 100%;
            height: 100%
        }
    }
}