.samples-view{
    .carousels {
        white-space: nowrap;
        transition: transform $transition 0.5s;
    }
    
    .overflow-x-hidden {
        overflow-x: hidden;
        border: solid $primary-color
    }
}