.select__input {
    input {
        height: 1rem !important;
    }
}

.select_methods {

    .select__control,
    .select__control:hover {
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
}